.side1
{
	width:14%;
	float:left;
	padding-top:150px;
}
.gap1
{
	float:left;
	padding-top:150px;
	width:3%;
}
.side2
{
	width:60%;
	float:left;
	padding-top:150px;
}
.gap2
{
	float:left;
	padding-top:150px;
	width:3%;
}
.side3
{
	float:left;
	padding-top:150px;
	width:20%;
}
.s1cnt1
{
	font-size:16px;
	border-bottom:1px solid #e2e2e2;
	padding-bottom:10px;
}
.s2cnt1
{
	font-size:16px;
	border-bottom:1px solid #e2e2e2;
	padding-bottom:10px;
}
.s2cnt2
{
	border-bottom:1px solid #e2e2e2;
	padding-bottom:15px;
}
.s3cnt1
{
	font-size:16px;
	border-bottom:1px solid #e2e2e2;
	padding-bottom:10px;
}
.onicn
{
	 height:14px;
	  width:17px; 
}
.s1cnt2
{
	font-size:14px;
}
.pad
{
	margin-top:7px;
}
.sp
{
	background-color:#EAEAEA;
	padding:5px;
	border-radius:3px;
	color:#555;
}
.qln:link
{
	color:#555;
}
.qln:visited
{
	color:#555;
}
.qln:hover
{
	text-decoration:none;
	color:#337ab7;
}
.qln1:link
{
	color:#555;
}
.qln1:visited
{
	color:#555;
}
.qln1:hover
{
	text-decoration:none;
	color:#337ab7;
}
.s1cnt3
{
		font-size:16px;
	border-bottom:1px solid #e2e2e2;
	padding-bottom:10px;
	margin-top:40px;
	position:relative;
}
.ed
{
	position:absolute;
	top:4px;
	right:0px;
	font-size:13px;
}
.ed:link
{
	color:#999;
}
.ed:visited
{
	color:#999;
}
.ed:hover
{
	color:#999;
}
.t1
{
	padding-top:15px;
	color:#999;
}
.tln:link
{
	color:#999;
}
.tln:visited
{
	color:#999;
}
.tln:hover
{
	color:#999;
}
.t2
{
	margin-top:-16px;
}
.t2ln:link
{
	color:black;
}
.t2ln:visited
{
	color:black;
}
.t2ln:hover
{
	color:black;
}
.bt
{
	background-color:#F7F7F7;
	border:1px solid #ACACAC;
	border-radius:3px;
	padding:4px;
	color:blue;
	font-size:13px;
}
.bt1
{
	background-color:#F7F7F7;
	border:1px solid #ACACAC;
	border-radius:3px;
	padding:4px;
	color:#555;
	font-size:13px;
}
.t4
{
	margin-top:5px;
	position:relative;
}
.dbtn
{
	position:absolute;
	right:0px;
	top:0px;
	background-color:white;
	border:0px;
	color:#999;
}
.wr_pic
{
	height:40px;
	width:40px;
	border-radius:50px;
}
.s3c1
{
	width:20%;
	float:left;
}
.s3c2
{
	float:left;
	width:80%;
}
.s3cnt2
{
	margin-top:10px;
}
.s2hidcnt
{
	border-bottom:1px solid #e2e2e2;
	padding-bottom:20px;
	margin-top:20px;
	padding-left:20px;
}
.hd2
{
	font-size:12px;
	margin-top:7px;
}
.hd3
{
	margin-top:7px;
	font-size:13px;
}