.side1
{
	width:60%;
	float:left;
	padding-top:150px;
	
}

.side2
{
	width:10%;
	float:left;
}
.side3
{
	width:30%;
	float:left;
	padding-top:150px;
}
.s1sp
{
	margin-left:10px;
	font-size:13px;
	background-color:#e5e5e5;
	border-radius:40px;
}
.s1ln
{
	padding:10px;
}
.s1ln:link
{
	color:#555;
}
.s1ln:hover
{
	color:#555;
	text-decoration:none;
}
.s1ln:visited
{
	color:#555;
}
.s1bt
{
	background-color:#F4F4F4;
	color:#337ab7;
	font-size:13px;
	border: 1px solid #ACACAC;
	border-radius:3px;
	padding:2px;
}
.s1sp2
{
	font-size:13px;
	margin-left:10px;
}
.s1ln2:link
{
	color:#A7A7A7;
}
.s1ln2:hover
{
	color:#A7A7A7;
}
.s1ln2:visited
{
	color:#A7A7A7;
}
.s1sp3
{
	position:absolute;
	right:0px;
	bottom:20px;
}
.s1ln3:link
{
	color:#a7a7a7;
}
.s1ln3:hover
{
	color:#a7a7a7;
	text-decoration:none;
}
.s1ln3:hover .s1sp4
{
		background-color:#DADADA;
	border-radius:3px;
	padding:5px;
}
.s1ln3:visited
{
	color:#a7a7a7;
}
.s1cnt3
{
	border-bottom:1px solid #e2e2e2;
	padding-bottom:20px;
	position:relative;
}
.s3cnt1
{
	border-bottom:1px solid #e2e2e2;
	padding-bottom:10px;
}
.s3cnt2
{
	margin-top:10px;
}
.s3cnt3
{
	margin-top:10px;
	font-size:13px;
}
.s3ln1:link
{
	color:#B0B0B0;
}
.s3ln1:hover
{
	color:#B0B0B0;
}
.s3ln1:visited
{
	color:#B0B0B0;
}
.s3cnt4
{
	margin-top:20px;
	border-bottom:1px solid #e2e2e2;
	padding-bottom:10px;
}
.s3cnt5
{
	margin-top:5px;
	color:#b0b0b0;
	font-size:13px;
}
.im
{
	height:20px;
	width:20px;
	border-radius:50px;
}
.s1cnt4
{
	border-bottom:1px solid #e2e2e2;
	padding-bottom:10px;
}
.im1
{
	height:50px;
	width:50px;
	border-radius:50px;
}
.s1cnt5a
{
	width:10%;
	float:left;
}
.s1cnt5b
{
	width:90%;
	float:left;
}
.s1cnt5c
{
	margin-top:10px;
	font-size:13px;
}
.vw
{
	color:#969696;
	font-size:13px;
}
.s1cnt5d
{
	margin-top:10px;
}
.s1cnt5dln:link
{
	color:#999;
	font-size:13px;
}
.s1cnt5dln:hover
{
	color:#999;
	font-size:13px;
}
.s1cnt5dln:visited
{
	color:#999;
	font-size:13px;
}
.s1cnt5e
{
	margin-top:10px;
	position:relative;
}
.spe
{
	margin-left:5px;
}
.s1cnt5
{
	margin-top:15px;
	border-bottom:1px solid #e2e2e2;
	padding-bottom:10px;
}
.spe5n
{
	position:absolute;
	right:0px;
	bottom:0px;
	color:#999;
	font-size:15px;
}
.out
{
	background-color:#f6f6f6;
}
.b1
{
	width:30%;
	float:left;
	border:1px solid #e5e5e5;
}
.b2
{
	
	width:5%;
	float:left;
}
.b3
{
	width:30%;
	float:left;
	border:1px solid #e5e5e5;
}
.b4
{
	width:5%;
	float:left;
}
.b5
{
	width:30%;
	float:left;
	border:1px solid #e5e5e5;
}
.one
{
	background-color:white;
	padding:20px;
}
.two
{
	background-color:#f6f6f6;
	text-align:center;
	padding:20px;
}
.out
{
	padding:40px;
}